<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Serve files without extension as text/plain -->
      <mimeMap fileExtension="." mimeType="text/plain" />
    </staticContent>
    <handlers>
      <!-- Serve static files and don't pass through ASP.NET Core -->
      <clear />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    <!-- Disable rewriting for this directory -->
    <rewrite>
      <rules>
        <clear />
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
